<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User information</title>
</head>
<body>
<form action="#" th:action="@{/user}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input readonly type="text" th:field="*{id}" id="id" placeholder="ID">
    <br><br>
    <label for="name">Name</label>
    <input readonly type="text" th:field="*{name}" id="name" placeholder="Name">
    <br><br>
    <label for="lastName">Last name</label>
    <input readonly type="text" th:field="*{lastName}" id="lastName" placeholder="Last name">
    <br><br>
    <label for="age">Age</label>
    <input readonly type="text" th:field="*{age}" id="age" placeholder="Age">
    <br><br>
    <label for="username">Username</label>
    <input readonly type="text" th:field="*{username}" id="username" placeholder="Username">
    <br><br>
    <label for="password">Password</label>
    <input readonly type="text" th:field="*{password}" id="password" placeholder="Password">
    <br><br>
    <p><a href="/logout">Logout</a></p>
</form>
</body>
</html>